@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 10, 5;
  --background-end-rgb: 5, 10, 5;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-color: #050a05;
}

/* Custom Scrollbar for that 'Cyber' feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0D140D;
}
::-webkit-scrollbar-thumb {
  background: #1a261a;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4ADE80;
    }
